{% if S_DISPLAY_STATS_OUTPUT && S_SHOW_USERS %}
	<br /><br />
	<strong>{USERS_TFHOUR_TOTAL}</strong>
	<div class="toggle"><p>

	<strong>{{ lang('USERS') }}</strong> {{ lang('COLON') }}
	{% for user in lastvisit_user %}
		{user.USERNAME_FULL}{% if not user.S_LAST_ROW %}{{ lang('COMMA_SEPARATOR') }}{% endif %}
	{% endfor %}
	{% if S_SHOW_BOTS %}
		<br /><br />
		<strong>{{ lang('BOTS') }}</strong> {{ lang('COLON') }}
		{% for bot in lastvisit_bot %}
			{bot.USERNAME_FULL}{% if not bot.S_LAST_ROW %}{{ lang('COMMA_SEPARATOR') }}{% endif %}
		{% endfor %}</p>
	{% endif %}
	</div>

	{% if LEGEND_USERS %}<p><em>{{ lang('LEGEND') }}{{ lang('COLON') }} {LEGEND_USERS}</em></p>{% endif %}
{% endif %}
