{% include '@' ~ NAMESPACE ~ '/head_panel.html' %}

{% if PHP_VALID and PHPBB_VALID %}
	<form id="announceonindex" method="post" action="{U_ACTION}">
		<fieldset>
			<legend>{{ lang('STATS_ON_INDEX_OPTIONS') }}</legend>
			<dl>
				<dt><label for="statsonindex_users">{{ lang('SHOW_USERS') }}{{ lang('COLON') }}</label><br><span>{{ lang('SHOW_USERS_EXPLAIN') }}</span></dt>
				<dd>
					<input type="radio" id="statsonindex_users1" name="statsonindex_users" value="1"{% if SHOW_USERS %} checked="checked"{% endif %} />
					<label class="set" for="statsonindex_users1">{{ lang('YES') }}</label>
					<input type="radio" id="statsonindex_users0" name="statsonindex_users" value="0"{% if not SHOW_USERS %} checked="checked"{% endif %} />
					<label class="unset" for="statsonindex_users0">{{ lang('NO') }}</label>
				</dd>
			</dl>

			<dl>
				<dt><label for="statsonindex_bots">{{ lang('INCLUDE_BOTS') }}{{ lang('COLON') }}</label><br><span>{{ lang('INCLUDE_BOTS_EXPLAIN') }}</span></dt>
				<dd>
					<input type="radio" id="statsonindex_bots1" name="statsonindex_bots" value="1"{% if INCLUDE_BOTS %} checked="checked"{% endif %} />
					<label class="set" for="statsonindex_bots1">{{ lang('YES') }}</label>
					<input type="radio" id="statsonindex_bots0" name="statsonindex_bots" value="0"{% if not INCLUDE_BOTS %} checked="checked"{% endif %} />
					<label class="unset" for="statsonindex_bots0">{{ lang('NO') }}</label>
				</dd>
			</dl>

			<dl>
				<dt><label for="statsonindex_stats">{{ lang('SHOW_STATS') }}{{ lang('COLON') }}</label><br><span>{{ lang('SHOW_STATS_EXPLAIN') }}</span></dt>
				<dd>
					<input type="radio" id="statsonindex_stats1" name="statsonindex_stats" value="1"{% if SHOW_STATS %} checked="checked"{% endif %} />
					<label class="set" for="statsonindex_stats1">{{ lang('YES') }}</label>
					<input type="radio" id="statsonindex_stats0" name="statsonindex_stats" value="0"{% if not SHOW_STATS %} checked="checked"{% endif %} />
					<label class="unset" for="statsonindex_stats0">{{ lang('NO') }}</label>
				</dd>
			</dl>

			<dl>
				<dt><label for="statsonindex_admin">{{ lang('ADMIN_STATS') }}{{ lang('COLON') }}</label><br><span>{{ lang('ADMIN_STATS_EXPLAIN') }}</span></dt>
				<dd>
					<input type="radio" id="statsonindex_admin1" name="statsonindex_admin" value="1"{% if ADMIN_STATS %} checked="checked"{% endif %} />
					<label class="set" for="statsonindex_admin1">{{ lang('YES') }}</label>
					<input type="radio" id="statsonindex_admin0" name="statsonindex_admin" value="0"{% if not ADMIN_STATS %} checked="checked"{% endif %} />
					<label class="unset" for="statsonindex_admin0">{{ lang('NO') }}</label>
				</dd>
			</dl>

			<dl>
				<dt><label for="statsonindex_guests">{{ lang('GUEST_STATS') }}{{ lang('COLON') }}</label><br><span>{{ lang('GUEST_STATS_EXPLAIN') }}</span></dt>
				<dd>
					<input type="radio" id="statsonindex_guests1" name="statsonindex_guests" value="1"{% if GUEST_STATS %} checked="checked"{% endif %} />
					<label class="set" for="statsonindex_guests1">{{ lang('YES') }}</label>
					<input type="radio" id="statsonindex_guests0" name="statsonindex_guests" value="0"{% if not GUEST_STATS %} checked="checked"{% endif %} />
					<label class="unset" for="statsonindex_guests0">{{ lang('NO') }}</label>
				</dd>
			</dl>

			<dl>
				<dt><label for="statsonindex_days">{{ lang('INCLUDE_DAYS') }}{{ lang('COLON') }}</label><br><span>{{ lang('INCLUDE_DAYS_EXPLAIN') }}</span></dt>
				<dd>
					<input type="radio" id="statsonindex_days1" name="statsonindex_days" value="1"{% if INCLUDE_DAYS %} checked="checked"{% endif %} />
					<label class="set" for="statsonindex_days1">{{ lang('YES') }}</label>
					<input type="radio" id="statsonindex_days0" name="statsonindex_days" value="0"{% if not INCLUDE_DAYS %} checked="checked"{% endif %} />
					<label class="unset" for="statsonindex_days0">{{ lang('NO') }}</label>
				</dd>
			</dl>

			<dl>
				<dt><label for="statsonindex_summary">{{ lang('INCLUDE_SUMMARY') }}{{ lang('COLON') }}</label><br><span>{{ lang('INCLUDE_SUMMARY_EXPLAIN') }}</span></dt>
				<dd>
					<input type="radio" id="statsonindex_summary1" name="statsonindex_summary" value="1"{% if INCLUDE_SUMMARY %} checked="checked"{% endif %} />
					<label class="set" for="statsonindex_summary1">{{ lang('YES') }}</label>
					<input type="radio" id="statsonindex_summary0" name="statsonindex_summary" value="0"{% if not INCLUDE_SUMMARY %} checked="checked"{% endif %} />
					<label class="unset" for="statsonindex_summary0">{{ lang('NO') }}</label>
				</dd>
			</dl>
		</fieldset>

		<fieldset>
		<legend>{{ lang('SAVE_CHANGES') }}</legend>
			<p class="submit-buttons">
				<input class="adm-button" type="submit" id="submit" name="submit" value="{{ lang('SAVE') }}" />&nbsp;
				<input class="adm-button" type="reset" id="reset" name="reset" value="{{ lang('RESET') }}" />
			</p>
			{S_FORM_TOKEN}
		</fieldset>
	</form>

	{% include '@' ~ NAMESPACE ~ '/donate.html' %}
{% endif %}
